@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap&subset=latin-ext');


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  align-items: center;
  color: $gray;
  background: $blue;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  justify-content: center;
  padding: 10px;
  width: 100vw;
}

// .header {
//   $__title {}
// }

// .glass {
//   $__addButton {}
//   $__image {}
//   $__removeButton {}
//   $__value {}
// }

// .footer {}